################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/jrogalan-csharp/packages
/jrogalan-csharp/CSharpKata/bin/Debug
/jrogalan-csharp/.vs/CSharpKata/v14
/jrogalan-csharp/CSharpKata/obj/Debug
/jrogalan-csharp/CSharpKata.Tests/obj/Debug
/jrogalan-csharp/CSharpKata.Tests/bin/Debug
